<header class="artificial-bg valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s6 bg-text">
          <h1>Artificial Nails & Soak Off Gel Polish</h1>
          </div>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="container">
    <div class="col s12 small-section-padding">
      <p class="center">Our experienced staff will help you determine the best services for your needs and deliver the kind of quality and value you expect from a professional Foot Spa & Nail Salon. Check out our complete service menu below to get a feel for what we do.
      </p>
      <p class="center"><b>Please note: Service prices and availability are subject to change without notice.</b></p>
    </div>

    <div class="col s12 m12 l12">

      <div class="col s12 m12 l6 small-section-padding" id="artificial-nails">
        <h3>Artificial Nails</h3>
        <p>Artificial nail services will provide you with strong artificial nails which are carefully and skillfully applied to ensure proper fit, alignment and a natural look. </p>

        <table class="highlight">
          <thead>
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Acrylic Full Set</td>
              <td class="artificial-nails-price">$35</td>
            <tr>
                <td>Acrylic Fill</td>
                <td class="artificial-nails-price">$25</td>
            </tr>
              <td>Acrylic White Tips</td>
              <td class="artificial-nails-price">$40</td>
            </tr>
            <tr>
              <td>Pink & White Full Set</td>
              <td class="artificial-nails-price">$35</td>
            </tr>
            <tr>
              <td>Pink & White Full</td>
              <td class="artificial-nails-price">$45</td>
            </tr>
            <tr>
              <td>UV Gel Full Set</td>
              <td class="artificial-nails-price">$40</td>
            </tr>
            <tr>
              <td>UV Gel Full</td>
              <td class="artificial-nails-price">$25</td>
            </tr>
            <tr>
              <td>SNS Dipping Nails</td>
              <td class="artificial-nails-price">$45</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s12 m12 l6 small-section-padding" id="artificial-nails">
        <h3>Soak Off Gel Polish</h3>
        <br>

        <table class="highlight">
          <thead>
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Regular Gel Manicure</td>
              <td class="artificial-nails-price">$37</td>
            <tr>
                <td>Regular Gel Pedicure</td>
                <td class="artificial-nails-price">$52</td>
            </tr>
              <td>Hand Gel Polish</td>
              <td class="artificial-nails-price">$28</td>
            </tr>
            <tr>
              <td>Toe Gel Polish</td>
              <td class="artificial-nails-price">$28</td>
            </tr>
            <tr>
              <td>Gel Polish (with any Pedicure)</td>
              <td class="artificial-nails-price">$20</td>
            </tr>
            <tr>
              <td>Regular Gel Manicure & Pedicure</td>
              <td class="artificial-nails-price">$68</td>
            </tr>
            <tr>
              <td>Regular Gel Manicure & Gel Pedicure</td>
              <td class="artificial-nails-price">$84</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>


  </div>
</div>
