<header class="waxing-bg valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s6 bg-text">
          <h1>Waxing & Extras</h1>
          </div>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="container">
    <div class="col s12 small-section-padding">
      <p class="center">Our experienced staff will help you determine the best services for your needs and deliver the kind of quality and value you expect from a professional Foot Spa & Nail Salon. Check out our complete service menu below to get a feel for what we do.
      </p>
      <p class="center"><b>Please note: Service prices and availability are subject to change without notice.</b></p>
    </div>

    <div class="col s12 m12 l12">

      <div class="col s12 m12 l12 small-section-padding" id="waxing-extras">
        <h3>Waxing Services</h3>
        <p>Professional waxing services are a great way to remove unwanted hair growth on any part of your body. Our licensed estheticians will provide safe, professional results in a private setting. </p>

        <table class="highlight">
          <thead>
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Eyebrows</td>
              <td class="waxing-extras-price">$12</td>
            <tr>
                <td>Chin</td>
                <td class="waxing-extras-price">$12 and up</td>
            </tr>
              <td>Lip</td>
              <td class="waxing-extras-price">$10</td>
            </tr>
            <tr>
              <td>Sideburns</td>
              <td class="waxing-extras-price">$15 and up</td>
            </tr>
            <tr>
              <td>Full Face</td>
              <td class="waxing-extras-price">$40</td>
            </tr>
            <tr>
              <td>Underarms</td>
              <td class="waxing-extras-price">$20 and up</td>
            </tr>
            <tr>
              <td>Half Arms</td>
              <td class="waxing-extras-price">$35 and up</td>
            </tr>
            <tr>
              <td>Full Arms</td>
              <td class="waxing-extras-price">$45 and up</td>
            </tr>
            <tr>
              <td>Bikini (Full)</td>
              <td class="waxing-extras-price">$45 and up</td>
            </tr>
            <tr>
              <td>Bikini (Line)</td>
              <td class="waxing-extras-price">$40 and up</td>
            </tr>
            <tr>
              <td>Half Legs</td>
              <td class="waxing-extras-price">$40 and up</td>
            </tr>
            <tr>
              <td>Full Legs</td>
              <td class="waxing-extras-price">$65 and up</td>
            </tr>
            <tr>
              <td>Men's Back</td>
              <td class="waxing-extras-price">$60 and up</td>
            </tr>
            <tr>
              <td>Men's Chest</td>
              <td class="waxing-extras-price">$30 and up</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s12 m12 l6 small-section-padding" id="waxing-extras">
        <h3>Kid Services</h3>
        <p>All kid's services for ages 12 and under. </p>
        <br>

        <table class="highlight">
          <thead>
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Princess Pedicure</td>
              <td class="waxing-extras-price">$24</td>
            <tr>
                <td>Princess Manicure</td>
                <td class="waxing-extras-price">$14</td>
            </tr>
              <td>Soak & Polish (7 & under)</td>
              <td class="waxing-extras-price">$15</td>
            </tr>
            <tr>
              <td>Hand Polish</td>
              <td class="waxing-extras-price">$7</td>
            </tr>
            <tr>
              <td>Toe Polish</td>
              <td class="waxing-extras-price">$9</td>
            </tr>
            <tr>
              <td>Kid Gel Manicure</td>
              <td class="waxing-extras-price">$31</td>
            </tr>
            <tr>
              <td>Kid Gel Polish</td>
              <td class="waxing-extras-price">$21</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col s12 m12 l6 small-section-padding" id="waxing-extras">
        <h3>Additional Services</h3>
        <br>

        <table class="highlight">
          <thead>
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Nail Removal</td>
              <td class="waxing-extras-price">$15</td>
            <tr>
                <td>Toe Polish</td>
                <td class="waxing-extras-price">$13</td>
            </tr>
              <td>Hand Polish</td>
              <td class="waxing-extras-price">$11</td>
            </tr>
            <tr>
              <td>Toe Nails Trimming</td>
              <td class="waxing-extras-price">$10</td>
            </tr>
            <tr>
              <td>Finger Nails Trimming</td>
              <td class="waxing-extras-price">$8</td>
            </tr>
            <tr>
              <td>Nail Repair</td>
              <td class="waxing-extras-price">$3</td>
            </tr>
            <tr>
              <td>Cut Down</td>
              <td class="waxing-extras-price">$3</td>
            </tr>
            <tr>
              <td>Glossy Gel Top</td>
              <td class="waxing-extras-price">$5</td>
            </tr>
            <tr>
              <td>Nail Design</td>
              <td class="waxing-extras-price">$3 and up</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>


  </div>
</div>
