<div id="about" class="row">
  <div class="container">
    <div class="col s12 section-padding">
      <h3 class="center">About Us</h3>
      <div class="col s6 m3 l3 center-column small-section">
        <hr>
      </div>
      <div class="col s8 center-column">
        <p class="center">
          THE NAIL SALON is a Foot Spa & Nail Salon including waxing services located at City. We guarantee that our services will fulfill your glamorous needs.
        </p>
      </div>
    </div>
  </div>
</div>
