<div id="contactUsNow" class="row valign-wrapper">
  <div class="container">
    <div class="col s12 contactUsNow-text valign-wrapper">
      <div class="col s12 m12 l8">
        <h3>We are Waiting for you. Don't be hesitant.</h3>
        <p>THE NAIL PARLOR offers amazing services, a wide variety of colors, a great staff, and much more.</p>
      </div>
      <div class="col s12 m12 offset-l1 l3">
        <a class="waves-effect waves-light btn">Contact Us</a>
      </div>

    </div>
  </div>
</div>
