<div id="services" class="row">
  <div class="container ">
    <div class="col s12 section-padding" style="padding-bottom: 12%;">
      <div class="col s12 section-title">
        <h3 class="center">Our Services</h3>
        <div class="col s6 m3 l3 small-section-padding center-column">
          <hr>
        </div>
      </div>

      <div id="threeServices" class="col s12">

        <div id="maniPedi" class="col s12 m4">
          <div class="card">
            <a href="/services/manicure-pedicure" class="waves-effect waves-light">
              <div class="card-image">
                <img src="assets/services/manicure_pedicure_services.jpg" style="height 100% !important;">
                <h5 class="service_title center">Manicure & Pedicure</h5>
              </div>
            </a>
          </div>
        </div>


        <div id="artificialNails" class="col s12 m4">
          <div class="card">
            <a href="/services/artificial-nails-soak-off-gel-polish" class="waves-effect waves-light">
              <div class="card-image">
                <img src="/assets/services/artificial_gel_services.jpg" style="height 100% !important;">
                <h5 class="service_title center">Artificial Nails & Soak Off Gel Polish</h5>
              </div>
            </a>
          </div>
        </div>


        <div id="waxOthers" class="col s12 m4">
          <div class="card">
            <a href="/services/waxing" class="waves-effect waves-light">
              <div class="card-image">
                <img src="/assets/services/waxing_additional_services.jpg" style="height 100% !important;">
                <h5 class="service_title center">Waxing & Extras</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
