<div id="services" class="row">
  <div class="container ">
    <div class="col s12 section-padding">
      <div class="col s12 section-title">
        <h3 class="center">Our Services</h3>
        <div class="col s6 m3 l3 small-section-padding center-column">
          <hr>
        </div>
      </div>

      <div id="threeServices" class="col s12">

        <div id="maniPedi" class="col s12 m4">
          <div class="card">
            <a href="/services/pedicure" class="waves-effect waves-light">
              <div class="card-image">
                <img src="assets/services/manicure_pedicure_services.jpg" style="height 100% !important;">
                <h5 class="service_title center">Manicure & Pedicure</h5>
              </div>
            </a>
          </div>
        </div>
        <div id="artificialNails" class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/services/artificial_gel_services.jpg" style="height 100% !important;">
              <a href="/services/artificial-nails-soak-off-gel-polish" class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">add</i></a>
              <h5 class="service_title center">Artificial Nails & Soak Off Gel Polish</h5>
            </div>
          </div>
        </div>
        <div id="waxOthers" class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/services/waxing_additional_services.jpg" style="height 100% !important;">
              <a href="/services/waxing" class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">add</i></a>
              <h5 class="service_title center">Waxing & Extras</h5>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l6">
          <img class="responsive-img" src="assets/services/manicure-services.jpg" alt="Manicure Services">
        </div>

        <div class="col s12 m6 l6">
          <h5 class="service-title center">Manicure</h5>
          <div class="col s12 m12 l12">
            <table class="highlight">
              <thead>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Regular Manicure</td>
                  <td>$**.**</td>
                <tr>
                    <td>French Manicure</td>
                    <td>$**.**</td>
                </tr>
                  <td>Shellac Manicure</td>
                  <td>$**.**</td>
                </tr>
                <tr>
                  <td>UV Gel Manicure</td>
                  <td>$**.**</td>
                </tr>
                <tr>
                  <td>Polish Change</td>
                  <td>$**.**</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="col s12 m6 l6 show-on-small hide-on-med-and-up">
          <img class="responsive-img" src="assets/services/pedicure-services.jpg" alt="Pedicure Services">
        </div>
        <div class="col s12 m6 l6">
          <h5 class="service-title center">Pedicure</h5>
          <div class="col s12 m12 l12">
            <table class="highlight">
              <thead>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Regular Pedicure</td>
                  <td>$**.**</td>
                <tr>
                    <td>French Pedicure</td>
                    <td>$**.**</td>
                </tr>
                  <td>Nail Parlor Pedicure</td>
                  <td>$**.**</td>
                </tr>
                <tr>
                  <td>Nail Parlor Special Pedicure</td>
                  <td>$**.**</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col s12 m6 l6 hide-on-small-only">
          <img class="responsive-img" src="assets/services/pedicure-services.jpg" alt="Pedicure Services">
        </div>
      </div>

      <div class="col s12">
        <div class="col s12 m6 l6">
          <img class="responsive-img" src="assets/services/waxing-services.jpg" alt="Waxing Services">
        </div>

        <div class="col s12 m6 l6">
          <h5 class="service-title center">Waxing</h5>
          <div class="col s12 m12 l12">
            <table class="highlight">
              <thead>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Eyebrows</td>
                  <td>$**.**</td>
                <tr>
                    <td>Upper Chin</td>
                    <td>$**.**</td>
                </tr>
                  <td>Full Face</td>
                  <td>$**.**</td>
                </tr>
                <tr>
                  <td>Under Arms</td>
                  <td>$**.**</td>
                </tr>
                <tr>
                  <td>Half Arms</td>
                  <td>$**.**</td>
                </tr>

                <tr>
                  <td>Half Legs</td>
                  <td>$**.**</td>
                </tr>
                <tr>
                  <td>Bikini</td>
                  <td>$**.**</td>
                </tr>
                <tr>
                  <td>Brazil</td>
                  <td>$**.**</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
