<header class="home-bg valign-wrapper" id="home">
  <div class="container">
    <div class="row">
      <div class="col s12 bg-text">
          <h1>GLAMOROUS</h1>
          <h4>Nail care at its Finest.</h4>
          </div>
      </div>
    </div>
  </div>
</header>

<%= render :partial => "home/about"%>
<%= render :partial => "home/services"%>
