/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "imports";
 body{
   font-family: 'Raleway', sans-serif !important;
 }
 .navbar-fixed {position: absolute;z-index:999999999;
  nav{
    .brand-logo{
      color: #000;
    }
    ul li{
      background-color: rgba(#000000, 0.27);
      color: #fff;
      @include transition(all, .4s);
      &:hover{
        background-color: $verde;
        @include transition(all, .4s);
      }
    }
  }
 }

 .center-column{
    float: none !important;
    margin: 0 auto !important;
  }

  .section-padding{
    padding-top: 12% !important;
  }

  .small-section-padding{
    padding-top: 3% !important;
    padding-bottom: 3% !important;
  }

  hr{
    border: 1px solid $verde;
  }
