/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "imports";
 body{
   font-family: 'Raleway', sans-serif !important;
 }
 .navbar-fixed {position: absolute;z-index:999999999;
  nav{
    .brand-logo{
      color: #000;
      background: rgba(#ffffff, 0.47);
      font-weight: 700;
      font-size: 1rem;
      letter-spacing: 2px;
      padding-left: 10px;
      padding-right: 10px;

    }
    ul li{
      background-color: rgba(#000000, 0.27);
      color: #fff;
      @include transition(all, .4s);
      &:hover{
        background-color: $verde;
        @include transition(all, .4s);
      }
    }
    ul.side-nav{
      li{
        background: none;
        color: #000;
        @include transition(all, .4s);
        &:hover{
          background-color: $verde;
          @include transition(all, .4s);
        }
        a{
          @include transition(all, .4s);
          &:hover{
            color: #fff;
            @include transition(all, .4s);
          }
        }
      }
      li.mobile-menu-title{
        background: $verde;
        color: #FFF;
        h4{
          font-weight: 700;
          letter-spacing: 2px;
          font-size: 18px;
        }
      }
    }
  }
 }

 .center-column{
    float: none !important;
    margin: 0 auto !important;
  }

  .section-padding{
    padding-top: 12% !important;
  }

  .small-section-padding{
    padding-top: 3% !important;
    padding-bottom: 3% !important;
  }

  hr{
    border: 1px solid $verde;
  }

  #footer{
    background: #212121;
    margin: 0px;
    color: #fff;
    .location{
      padding: 2%;
      background: $verde;
      color: #fff;
      .location-title{
        font-weight: 700;
        letter-spacing: 2px;
      }
      p{
        letter-spacing: 2px;
      }
      a{
        color: #fff;
        text-decoration: underline;
      }
    }
    .hours{
      padding-top: 2%;
      .hours-title{
        font-weight: 700;
        letter-spacing: 2px;
      }
      p.work-hours{
        color: $verde;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 14px;
      }
    }
  }

  .bottom-footer{
    background: #1d1d1d;
    margin: 0px !important;
    padding-top: 1px;
    padding-bottom: 1px;
    p{
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 2px;
      a{
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  //Media Queries
  @media screen and (max-width: 500px){
    nav.brand-logo{
      width: 68%;
    }
  }
