<div class="row">
  <div class="container">
    <div class="col s12 padding-section">
      <h3>New Promotion</h3>
      <div class="col s12 m3 l3">
        <hr>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
